@media (max-width: 540px){
  .btn.number.web, .btn.rank.web{display:none;}
  #game-wrap, #game-notice{ height:auto !important;}
  .btn.number.mobail, .btn.rank.mobail{display:block !important; width:90%; }
  .btn.rank.mobail:hover{font-size:3rem;}
  .btn.rank.mobail:active{font-size:5rem; transition:all 0.5s;}
  .dropdown:hover .btn.rank.web{display:block !important;}
  .over-border{line-height:150% !important;}
  .btn.music{font-size:1rem;}
  #cont{  column-width:500px !important;}
  #over-logo{width:100%;}
  #border-list{width:100% !important; height: 65% !important; }
  .btn.border.page{font-size:2rem !important;}
  .btn.border.prne{font-size:1.8rem !important;}
}

::-webkit-scrollbar {border: 0;}
/* body */
body{
  scrollbar-arrow-color: transparent;
  scrollbar-base-color: transparent;
  font-family:'NanumGothic';
  /* background-color:#1A1A1A; */
  background: url('../images/back_7.jpg') no-repeat fixed 0 0 / cover;
}

#wrap{
  position: absolute;
  overflow-y: scroll;
  width : 90%;
  height : 90%;
  left: 5%;
  top: 5%;
}
#content{
  position: absolute;
  overflow-y: scroll;
  width : 100%;
  height : 100%;
  left: 0;
  top: 0;
}

h1{
  color:#fff;
  margin: 20% 20%;
}

#fb-wrap{
  display:inline block;
  width: 90%;
  height:auto;
  border: 1px solid rgba(0,0,0,0.44);
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.fb-comments, .fb-comments iframe, .fb-comments span{
  width:100% !important;
}
#game-wrap{
  width: 90%;
  height:auto;
  border: 1px solid rgba(0,0,0,0.44);
  margin: 0 auto;
  margin-bottom: 20px;
}
#game-notice{
  border : 1px solid rgba(240, 248, 255, 0.3);
  text-align: center;
  width:100%;
  height:auto;
  background-color: rgba(0,0,0,0.6);
}
#game-game{
  height:100px;
  overflow-y: scroll;
}

#cont{
  display:inline block;
  width:90%;
  margin: 0 auto;
}
#cont span{
  margin:0;
  padding:0;
}
.btn{
  text-decoration:none;
  font-size:2rem;
  color: rgba(240, 248, 255, 1) !important;
  padding:10px 20px 10px 20px;
  margin:10px;
  transition:all 0.1s;
  text-shadow: 0px -1.5px rgba(0,0,0,0.44);
  font-weight:bold;
}
.btn.number{
  background-color: rgba(0,0,0,0.1);
  border-bottom:3px solid rgba(0,0,0,0.44);
  border-radius: 10px;
}
.btn.rank{
  background-color: rgba(0,0,0,0.1);
  border-bottom:3px solid rgba(0,0,0,0.44);
  border-radius: 10px;
}
.btn.rank.mobail{
  display:none;
}
.btn.over{
  background-color: #f79c1b;
}
.btn.music{
  background-color: rgba(100, 149, 237, 1);
}
.btn.minigame{
  font-size:2.5rem;
  width: 70%;
  background-color: rgba(0, 206, 209, 1);
}
.btn.border{
  background-color: #2A65FF;
  font-size:2.2rem;
  maring:0;
  padding:5px 7.5px 5px 7.5px;
}
.btn.border.page{font-size:1.5rem; padding:5px 10px 5px 10px;}
.btn.border.type{width:50%;}

.btn:visited{
    color: rgba(240, 248, 255, 1);
}

.btn.number:hover{
  border-bottom: 3px solid rgba(240, 248, 255, 1);
  background:rgba(240, 248, 255, 0.2)
}

.btn.rank:hover{
  font-size:2.2rem;
  border-bottom: 3px solid rgba(240, 248, 255, 1);
  background:rgba(240, 248, 255, 0.2)
}
.btn.minigame:hover{
}
/* game*/
.game-style{
  color:#fff;
  font-size:1.5rem;
  width:100%;
  height:100%;
  display:inline-block;
}
#over-game{overflow-y: scroll;}
#over-game table{font-size:2rem; color:#fff; font-weight:bold; margin: 0 auto;}
#over-game button{padding:10px 20px 10px 20px;}
#over-game input{
  width:65%;
  background-color:transparent;
  color:#fff;
  border:0px;
  border-bottom:3px solid rgba(240, 248, 255, 0.4);
  outline: none;
}
#over-game input:focus{
  border-bottom:3px solid rgba(255, 215, 0, 1);
}
#over-logo{
  width:100%;
  height:30%;
}

.over-border{
  float: left;
  width:33%;
  line-height:200%;
}
.over-border img{
  width:40%;
  border-radius: 10%;
}

#music-game{}
#music-game table{margin: 0 auto;}
#music-game p{font-size:3rem;}
#music-game table, #music-game p{color:#fff; font-weight:bold;}

#border-game{}
#border-game textarea{
  width:100%;
  height:399px;
  background-color:transparent;
  color:#fff;
  border:0;
  resize:none;
  outline:none;
}
#border-title{margin:0 auto;}
#border-title p{margin:0; padding:0;}

#border-detail{
  margin: 0 auto;
  width:80%;
  height:auto;
  text-align:left;
  font-weight:200%;
  font-weight:bold;
}

#border-footer{}
#border-list{
  margin: 0 auto;
  width:80%;
  height:70%;
  font-size:1.7rem;
  background-color:rgba(0,0,0,0.1);
  color:#fff;
  text-align:center;
  overflow-y: scroll;
}
#border-list p{
  border-bottom:1px solid rgba(240, 248, 255, 0.2);
}
#border-list p:hover{
  cursor:pointer;
  background:rgba(240, 248, 255, 0.2);
  font-weight:bold;
} 
#border-list p:active{
  cursor:pointer;
  background:rgba(255, 20, 147, 1);
}

#border-list span{
  margin:5px;
}

#escape-content{
  position: absolute;
  width : 89.7%;
  height : 200px;
  top:50%;
  background: rgba(0,0,0,0.6);
}

#escape-content span{
  font-size:4rem;
  font-weight:bold;
}