<div id="game-notice">
  <div class="game-style" id="border-game">
    <div id="border-title">
        <p>
        <button class="btn border" ng-click="borderTurn(false)" ng-style="{'background-color': (borderType | pagingcolor:false)}"><</button>
        <button class="btn border type">{{border[borderType].name}}</button>
        <button class="btn border" ng-click="borderTurn(true)" ng-style="{'background-color': (borderType | pagingcolor:true)}">></button>
        </p>
        <p align="right">
        <button class="btn border">작성</button>
        <button class="btn border">수정</button>
        <button class="btn border">삭제</button>
        <button class="btn border">목록</button>
        </p>
    </div>
    <div id="border-detail" ng-hide="true">
      <textarea readonly>sdfsdf</textarea>
    </div>
    <div id="border-footer">
      <div id="border-list">
        <p>
          <span>1번 게시물</span>
          <span>홍길이</span>
          <sapn>2</sapn>
          <span>2016/12/23/23:23</span>
        </p>
        <p>
          <span>2번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>3번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>4번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>5번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>6번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>7번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>8번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>9번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>10번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
      </div>
      <button class="btn border page"><</button>
      <button class="btn border page">1</button>
      <button class="btn border page">2</button>
      <button class="btn border page">></button>
    </div>
  </div>
</div>