<div id="game-notice">
  <div class="game-style" id="border-game">
    <div id="border-title">
        <p>
        <button class="btn border"><</button>
        <button class="btn border type">자유게시판</button>
        <button class="btn border">></button>
        </p>
        <p align="right">
        <button class="btn border">작성</button>
        <button class="btn border">수정</button>
        <button class="btn border">삭제</button>
        </p>
    </div>
    <div id="border-detail">
<textarea readonly>
제목 : 마음으로 코딩 굿

일단 3개의 분위기 선곡했습니다.

1. 편안한
2. 고요한
3. 베이퍼한
  
즐감^_^일단 3개의 분위기 선곡했습니다.

1. 편안한
2. 고요한
3. 베이퍼한
  
2. 고요한
3. 베이퍼한
  
즐감^_^일단 3개의 분위기 선곡했습니다.

1. 편안한
2. 고요한
3. 베이퍼한
2. 고요한
3. 베이퍼한
  
즐감^_^일단 3개의 분위기 선곡했습니다.

1. 편안한
2. 고요한
3. 베이퍼한
2. 고요한
3. 베이퍼한
  
즐감^_^일단 3개의 분위기 선곡했습니다.

1. 편안한
2. 고요한
3. 베이퍼한
2. 고요한
3. 베이퍼한
  
즐감^_^일단 3개의 분위기 선곡했습니다.

1. 편안한
2. 고요한
3. 베이퍼한
</textarea>
    </div>
    <div id="border-footer" ng-hide="true">
      <div id="border-list">
        <p>
          <span>1번 게시물</span>
          <span>홍길이</span>
          <sapn>2</sapn>
          <span>2016/12/23/23:23</span>
        </p>
        <p>
          <span>2번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>3번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>4번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>5번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>6번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>7번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>8번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>9번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
        <p>
          <span>10번 게시물</span>
          <span>홍길이</span>
          <span>2</span>
          <span >2016/12/23/23:23</span></p>
      </div>
      <button class="btn border page"><</button>
      <button class="btn border page">1</button>
      <button class="btn border page">2</button>
      <button class="btn border page">></button>
    </div>
  </div>
</div>