<div id="game-notice">
  <div class="game-style" id="border-game">
    <div id="border-title">
        <p>
        <button class="btn border" ng-click="borderTurn(false)" ng-style="{'background-color': (borderType | pagingcolor:false)}"><</button>
        <button class="btn border type">{{border[borderType].name}}</button>
        <button class="btn border" ng-click="borderTurn(true)" ng-style="{'background-color': (borderType | pagingcolor:true)}">></button>
        </p>
        <p align="right">
        <button class="btn border">작성</button>
        <button class="btn border">수정</button>
        <button class="btn border">삭제</button>
        <button class="btn border">목록</button>
        </p>
    </div>
    <div id="border-detail" ng-hide="true">
<textarea readonly>
{{list[0].id}}
{{list[0].type}}
{{list[0].title}}
{{list[0].writer}}
{{list[0].hit}}
{{list[0].date}}

{{detail[0].id}}
{{detail[0].content}}  
</textarea>
    </div>
    <div id="border-footer" ng-init="borderAPI(0)">
      <div id="border-list">
        <p ng-repeat="x in list">
          <span>{{x.title}}</span>
          <span>{{x.writer}}</span>
          <sapn>{{x.hit}}</sapn>
          <span>{{x.date}}</span>
        </p>
      </div>
      <button class="btn border page"><</button>
      <button class="btn border page">1</button>
      <button class="btn border page">2</button>
      <button class="btn border page">></button>
    </div>
  </div>
</div>