<div id="game-notice">
  <div class="game-style">
  <div ng-switch="minigameType">
    <div mini-wrap type="js-pingpong" ng-switch-when="js-pingpong"></div>
    <div mini-wrap type="star-run" ng-switch-when="star-run"></div>
    <div mini-wrap type="horse-game" ng-switch-when="horse-game"></div>
    <div mini-wrap type="suckbong-game" ng-switch-when="suckbong-game"></div>
  </div>
    <br>
    <div id="game-game">
      <span ng-repeat="x in minigame">
        <button class="btn minigame" ng-style="{'background-color': (x.path | minigamecolor)}" ng-click="showMinigame(x.path)">{{x.name}}</button>
      </span>
    </div>
  </div>
</div>