   <form>
    <table>
      <tr>
        <td>
          배틀태그 : <input tabindex = "1" type="text" size="10" ng-model="name" autofocus>
        </td>
        <td rowspan="2">
          <button class="btn over" ng-click="overAPI(name,tagnum)">검색</button>
        </td>
      </tr>
      <tr>
        <td>
          태그넘버 : <input tabindex = "2" type="text" size="10" ng-model="tagnum">
        </td>
      </tr>
    </table>
    </form>





    <span ng-show="overAjax">
      <img src="http://theouchdoctor.com/images/common/loading.gif">
    </span>



    <span ng-show="over.data.username">
      <span>
        <p><img ng-src="{{over.data.avatar}}"></p>
        <p>
        이름 : {{over.data.username}}<br>
        레벨 : {{over.data.level}}<br>
        총 승리한 게임 : {{over.data.total_wins}}<br>
        </p>
      </span>
      
      <span>
        <p>
        빠른대전<br>
        플레이시간 : {{over.data.quick_play.time_played}}<br>
        폭주시간 : {{over.data.quick_play.time_on_fire}}<br>
        임무기여시간 : {{over.data.quick_play.objective_time}}<br>
        상위 영웅<br>
        1위 : {{over.data.quick_play.hero1}}<br>
        2위 : {{over.data.quick_play.hero2}}<br>
        3위 : {{over.data.quick_play.hero3}}<br>
        </p>
      </span>
      
      <span>
        <p>
        경쟁전<br>
        랭크 : {{over.data.competitive_play.rank}}<br>
        승리 : {{over.data.competitive_play.wins}} 패배 : {{over.data.competitive_play.loss}}<br>
        치룬 경기 : {{over.data.competitive_play.games_played}}<br>
        플레이시간 : {{over.data.competitive_play.time_played}}<br>
        폭주시간 : {{over.data.competitive_play.time_on_fire}}<br>
        임무기여시간 : {{over.data.competitive_play.objective_time}}<br>
        상위 영웅<br>
        1위 : {{over.data.competitive_play.hero1}}<br>
        2위 : {{over.data.competitive_play.hero2}}<br>
        3위 : {{over.data.competitive_play.hero3}}<br>
        </p>
      </span>
      
    </span>
  </span>
</span>