<div id="stair-scream"><img src="./images/game/stair/scream.jpg"></img></div>
<div id="game-notice">
  <div class="stair-info">
    <span id="stairText" style="font-size:20px">심장이 약하신분은 하지마세요.<br>이 게임을 하다 죽을 수도 있습니다.</span>
  </div>
  <div class="game-style" ng-controller="stair-game">
    <div id="stair-container">
      <div id ="container-content">
          <span>
            마지막 계단엔 무엇이 있을까?
            <br>
            W A S D 키 이동
            <br>
            SHIFT 키 점프
            <br>
            화면 클릭시 게임 진행 !
          </span>
      </div>
    </div>
  </div>
</div>