<div id="top">
  <div id="content" class="container-1">

    <div class="box-pupple">
      <h1><div>소개</div></h1>
        <p>내가 누군지 궁금하세요?</p>
        <div class="box-hover-on">test</div>
    </div>

    <div class="box-yellow">
      <h3><div>일상</div></h3>
      <p>나의 이야기가 궁금해요?</p>
      <div class="box-hover-on">
        <div style="font-size:12pt !important; border:0 !important;" game-wrap type="default"></div>
      </div>
    </div>

    <div class="box-orenge">
      <h3><div>전적</div></h3>
      <p>오버워치 전적을 쉽게 조회해요.</p>
      <div class="box-hover-on">test</div>
    </div>

    <div class="box-white">
      <h3><div>음악</div></h3>
      <p>음악만이 나라에서 허락한 유일한 마약</p>
      <div class="box-hover-on">test</div>
    </div>

    <div class="box-green">
      <h3><div>게임</div></h3>
      <p>저는 게임 만드는걸 좋아해요</p>
      <div class="box-hover-on">test</div>
    </div>

    <div class="box-pupple">
      <h3><div>탈출</div></h3>
      <p>두뇌 풀가동! 방에서 탈출해봐요</p>
      <div class="box-hover-on">test</div>
    </div>

    <div class="box-white">
      <h3><div>샷감</div></h3>
      <p>총게임을 매우 좋아해서 예전부터 만들어보고 싶었어요</p>
      <div class="box-hover-on">
        <div style="font-size:12pt !important; border:0 !important;" game-wrap type="shot"></div>
      </div>
    </div>

    <div class="box-blue">
      <h3><div>암호</div></h3>
      <p>당신의 소중한 이야기를 암호로 남겨 전달하세요</p>
      <div class="box-hover-on">test</div>
    </div>

    <div class="box-jamong">
      <h3><div>강좌</div></h3>
      <p>강의는 잘 못하지만 그래도 아는걸 남에게 베푸는걸 매우 좋아해요</p>
      <div class="box-hover-on">test</div>
    </div>
  </div>

  <div id="main">
    <img style="width:50px; height:50px;" src="images/block.png"><br>U4BI.COM
    <div class="main-nav-bar">
      <h4>
        <p id="info" onclick="scroll(0)">소개</p>
        <p id="daily" onclick="scroll(200)">일상이야기</p>
        <p id="over" onclick="scroll(400)">오버워치 전적조회</p>
        <p id="music" onclick="scroll(552)">코딩용음악</p>
        <p id="game" onclick="scroll(732)">미니게임</p>
        <p id="escape" onclick="scroll(300)">밀실탈출</p>
        <p id="fps" onclick="scroll(480)">FPS샷감연습</p>
        <p id="password" onclick="scroll(660)">암호</p>
        <p id="tech" onclick="scroll(850)">동영상강좌</p>
      </h4>
    </div>
  </div>
  <div id="dos" onclick="dosFocus()">
    <div id="dos-text">test</div>
    <div id="dos-send"><span>u4bi@localhost / $</span> <input id="dos-input" type="text"></div>
  </div>
  <div id="terminal">
    <img style="width:50px; height:50px; cursor: pointer;" src="images/Terminal.png" onclick="terminel()">
  </div>
</div>
<script src="js/google-degine.js"></script>